
/*
 * Globals
 */

html{
   background-color: #f9f9f9;
 }

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #8fb98f;
  background-color: #2b2b2b;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #8fb98f;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #272727;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #fff;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}
.blog-nav li {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
}
.blog-nav li a {
  color: #fff;
}

/* Active state gets a caret at the bottom */
.blog-nav .current_page_item, .active{
  color: #fff;
}
.blog-nav .current_page_item:after, .active:after{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}



/*
 * Blog name and description
 */

.blog-header {
  padding-top: 0px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing 0content */
.sidebar-module {
  padding: 15px;
  text-align: center;
}
.sidebar-module-inset {
  width: 100%;
  background-color: #3e3e3e;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: center;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-top: 30px;
  margin-bottom: 30px;

}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
.comment-list ul, li{
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #272727;
  border-top: 1px solid #2b2b2b;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 100%;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #7c7c7c;
  background:#2b2b2b;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -5px;
  top: -10px;
  color: #7a7a7a;
}

.about-page {
  margin-bottom: 60px;
}

.about-header {
  background-image: url(http://dev.test.local/wp-content/themes/customTheme/images/star_field_full_gal.jpg);
  margin-left: -80%;
  margin-right: -80%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.about-title {
  text-align: center;
  color: #ffffff;
}

hr{
  background-color: #ffffff;
}

.main{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 30px;
  margin-left: -10%;
  margin-right: -10%;
}

.left-sidebar{
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;

}
.left-sidebar img{
  width: 100%;
  max-height: 100%;
}

.main-content{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.right-sidebar{
  text-align: center;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.left-foot{
  align: center;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.page-foot{
  align: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.right-foot{
  align: center;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
